<!DOCTYPE html>
<html>
<head>
    <title>yu.js.ui</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../app.css">
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">按钮类型</h4>
    <button class="yu-button">button</button>
    <div class="yu-button">div</div>
    <input type="button" class="yu-button" value="input"/>

    <h4 class="web-title">按钮颜色</h4>
    <button class="yu-button" :type="primary" unmount>primary</button>
    <button class="yu-button" :type="success">success</button>
    <button class="yu-button" :type="warning">warning</button>
    <button class="yu-button" :type="danger">danger</button>
    <button class="yu-button" :type="info">info</button>

    <h4 class="web-title">扁平按钮</h4>
    <button class="yu-button plain" :plain>default</button>
    <button class="yu-button" :type="primary" :plain>primary</button>
    <button class="yu-button" :type="success" :plain>success</button>
    <button class="yu-button" :type="warning" :plain>warning</button>
    <button class="yu-button" :type="danger" :plain>danger</button>
    <button class="yu-button" :type="info" :plain>info</button>

    <h4 class="web-title">禁用按钮</h4>
    <button class="yu-button" :disabled>primary</button>
    <button class="yu-button" :type="primary" :disabled>primary</button>
    <button class="yu-button" :type="success" :disabled>success</button>
    <button class="yu-button" :type="warning" :disabled>warning</button>
    <button class="yu-button" :type="danger" :disabled>danger</button>
    <button class="yu-button" :type="info" :disabled>info</button>
    <br>
    <button class="yu-button plain" :plain :disabled>default</button>
    <button class="yu-button" :type="primary" :plain :disabled>primary</button>
    <button class="yu-button" :type="success" :plain :disabled>success</button>
    <button class="yu-button" :type="warning" :plain :disabled>warning</button>
    <button class="yu-button" :type="danger" :plain :disabled>danger</button>
    <button class="yu-button" :type="info" :plain :disabled>info</button>

    <h4 class="web-title">不同尺寸</h4>
    <button class="yu-button" :size="large">large</button>
    <button class="yu-button">default</button>
    <button class="yu-button" :size="small">small</button>

    <h4 class="web-title">圆形按钮</h4>
    <button class="yu-button" :circle>圆</button>

    <h4 class="web-title">按钮组</h4>
    <p class="web-description">因为按钮组没有特殊的作用，所以没有单独的组件</p>

    <div class="yu-button-group">
        <button class="yu-button">item</button>
        <button class="yu-button">item</button>
        <button class="yu-button">item</button>
    </div>
    <div class="yu-button-group">
        <button class="yu-button" :type="primary">item</button>
        <button class="yu-button" :type="primary">item</button>
        <button class="yu-button" :type="primary">item</button>
    </div>
    <div class="yu-button-group">
        <button class="yu-button" :type="primary" :plain>item</button>
        <button class="yu-button" :type="primary" :plain>item</button>
        <button class="yu-button" :type="primary" :plain>item</button>
    </div>
    <div class="yu-button-group">
        <button class="yu-button">item</button>
        <button class="yu-button" :type="primary">item</button>
        <button class="yu-button" :type="primary" :plain>item</button>
    </div>

    <h4 class="web-title">图标</h4>
    <button class="yu-button"><i class="iconfont icon-trash"></i> Delete</button>
    <button class="yu-button" :icon="icon-location">Location</button>

    <h4 class="web-title">文字内容</h4>
    <button class="yu-button" :text="hello world"></button>

    <h4 class="web-title">改变state</h4>
    <button class="yu-button" :ref="example">示例</button>
    <button class="yu-button" onclick="handleClick()">点击</button>
    <button class="yu-button" :ref="example2">示例2</button>
    <button class="yu-button" onclick="handleClick2()">点击2</button>

</div>
</body>
<script src="../dist/index.bundle.js"></script>
<script>
    var the = new yu.init('Button')
    function handleClick() {
        the.example.setState('text', 'my world')
        the.example.setState('type', 'success')
        the.example.setState('size', 'large')
        the.example.setState('icon', 'icon-user')
    }
    function handleClick2() {
        the.example.setState('icon', 'icon-trash')
        the.example2.setStates({
            text: '我的世界',
            type: 'primary',
            size: 'small',
        })
    }
</script>
</html>
