<!DOCTYPE html>
<html>
<head>
    <title>yu.js.ui</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../app.css">
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body>
<div class="web-outer">
    <ul class="web-index" :option="$menuOption"></ul>
<div class="web-container">
    <h4 class="web-title">计数器</h4>
    <div class="yu-counter">
        <button class="yu-button">-</button>
        <div class="yu-input">
            <input type="text">
        </div>
        <button class="yu-button">+</button>
    </div>

    <h4 class="web-title">禁用</h4>
    <div class="yu-counter" :disabled>
        <button class="yu-button">-</button>
        <div class="yu-input">
            <input type="text">
        </div>
        <button class="yu-button">+</button>
    </div>

    <h4 class="web-title">最大值，最小值</h4>
    <div class="yu-counter" :max="5" :min="-2">
        <button class="yu-button">-</button>
        <div class="yu-input">
            <input type="text">
        </div>
        <button class="yu-button">+</button>
    </div>

    <h4 class="web-title">步数间隔(任意精度和浮点数计算)</h4>
    <div class="yu-counter" :step="0.01">
        <button class="yu-button">-</button>
        <div class="yu-input">
            <input type="text">
        </div>
        <button class="yu-button">+</button>
    </div>

    <h4 class="web-title">尺寸</h4>
    <div class="yu-counter" :size="large">
        <button class="yu-button">-</button>
        <div class="yu-input">
            <input type="text">
        </div>
        <button class="yu-button">+</button>
    </div>

    <div class="yu-counter">
        <button class="yu-button">-</button>
        <div class="yu-input">
            <input type="text">
        </div>
        <button class="yu-button">+</button>
    </div>

    <div class="yu-counter" :size="small">
        <button class="yu-button">-</button>
        <div class="yu-input">
            <input type="text">
        </div>
        <button class="yu-button">+</button>
    </div>

    <div class="yu-counter-side right" :size="large">
        <div class="yu-input">
            <input type="text">
        </div>
        <div class="button">
            <button>
                <i class="iconfont icon-angle-up"></i>
            </button>
            <button>
                <i class="iconfont icon-angle-down"></i>
            </button>
        </div>
    </div>

    <div class="yu-counter-side right">
        <div class="yu-input">
            <input type="text">
        </div>
        <div class="button">
            <button>
                <i class="iconfont icon-angle-up"></i>
            </button>
            <button>
                <i class="iconfont icon-angle-down"></i>
            </button>
        </div>
    </div>

    <div class="yu-counter-side right" :size="small">
        <div class="yu-input">
            <input type="text">
        </div>
        <div class="button">
            <button>
                <i class="iconfont icon-angle-up"></i>
            </button>
            <button>
                <i class="iconfont icon-angle-down"></i>
            </button>
        </div>
    </div>

    <h4 class="web-title">获取值</h4>
    <div class="yu-counter" :size="large" @change="$handleChange">
        <button class="yu-button">-</button>
        <div class="yu-input">
            <input type="text">
        </div>
        <button class="yu-button">+</button>
    </div>

</div>
</div>
</body>
<script src="../dist/index.bundle.js"></script>
<script src="../main.js"></script>
<script>
    new WebIndex('.web-index')
    yu.setData({
        handleChange: function (value) {
            console.log(value)
        }
    })
    var the = yu.init('Counter', 'CounterSide')
</script>
</html>
