<!DOCTYPE html>
<html>
<head>
    <title>yu.js.ui</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">计数器</h4>
    <div class="yu-counter">
        <button class="yu-button">-</button>
        <div class="yu-input">
            <input type="text">
        </div>
        <button class="yu-button">+</button>
    </div>

    <h4 class="web-title">禁用</h4>
    <div class="yu-counter">
        <button class="yu-button disabled">-</button>
        <div class="yu-input">
            <input type="text">
        </div>
        <button class="yu-button">+</button>
    </div>
    <div class="yu-counter">
        <button class="yu-button disabled">-</button>
        <div class="yu-input disabled">
            <input type="text">
        </div>
        <button class="yu-button disabled">+</button>
    </div>

    <h4 class="web-title">单边控制计数器</h4>
    <div class="yu-counter-side right">
        <div class="yu-input">
            <input type="text">
        </div>
        <div class="button">
            <button>
                <i class="iconfont icon-angle-up"></i>
            </button>
            <button>
                <i class="iconfont icon-angle-down"></i>
            </button>
        </div>
    </div>
    <div class="yu-counter-side left">
        <div class="button">
            <button>
                <i class="iconfont icon-angle-up"></i>
            </button>
            <button>
                <i class="iconfont icon-angle-down"></i>
            </button>
        </div>
        <div class="yu-input">
            <input type="text">
        </div>
    </div>

    <h4 class="web-title">禁用</h4>
    <div class="yu-counter-side right">
        <div class="yu-input">
            <input type="text">
        </div>
        <div class="button">
            <button class="disabled">
                <i class="iconfont icon-angle-up"></i>
            </button>
            <button>
                <i class="iconfont icon-angle-down"></i>
            </button>
        </div>
    </div>
    <div class="yu-counter-side right">
        <div class="yu-input disabled">
            <input type="text">
        </div>
        <div class="button">
            <button class="disabled">
                <i class="iconfont icon-angle-up"></i>
            </button>
            <button class="disabled">
                <i class="iconfont icon-angle-down"></i>
            </button>
        </div>
    </div>

    <h4 class="web-title">尺寸</h4>
    <div class="yu-counter">
        <button class="yu-button large">-</button>
        <div class="yu-input">
            <input type="text" class="large">
        </div>
        <button class="yu-button large">+</button>
    </div>
    <div class="yu-counter">
        <button class="yu-button">-</button>
        <div class="yu-input">
            <input type="text">
        </div>
        <button class="yu-button">+</button>
    </div>
    <div class="yu-counter">
        <button class="yu-button small">-</button>
        <div class="yu-input">
            <input type="text" class="small">
        </div>
        <button class="yu-button small">+</button>
    </div>

    <div class="yu-counter-side right">
        <div class="yu-input">
            <input type="text" class="large">
        </div>
        <div class="button large">
            <button>
                <i class="iconfont icon-angle-up"></i>
            </button>
            <button>
                <i class="iconfont icon-angle-down"></i>
            </button>
        </div>
    </div>
    <div class="yu-counter-side right">
        <div class="yu-input">
            <input type="text">
        </div>
        <div class="button">
            <button>
                <i class="iconfont icon-angle-up"></i>
            </button>
            <button>
                <i class="iconfont icon-angle-down"></i>
            </button>
        </div>
    </div>
    <div class="yu-counter-side right">
        <div class="yu-input">
            <input type="text" class="small">
        </div>
        <div class="button small">
            <button>
                <i class="iconfont icon-angle-up"></i>
            </button>
            <button>
                <i class="iconfont icon-angle-down"></i>
            </button>
        </div>
    </div>
</div>
</body>
<script src="../dist/index.bundle.js"></script>
<script>
    var yuCounter = new YU.Counter('.yu-counter', {
        step: '5',
        min: -10,
        max: 10,
    })
    yuCounter.onChange = (value) => {
        console.log(value)
    }
    var yuCounterSide = new YU.Counter('.yu-counter-side', {
        step: '5',
        min: -10,
        max: 10,
    })

    yuCounterSide.onChange = (value) => {
        console.log(value)
    }
</script>
</html>
