<!DOCTYPE html>
<html>
<head>
    <title>yu.js.ui</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">组件的多种初始化方式</h4>

    <h4 class="web-title">单个组件初始化</h4>
    <button class="yu-button one">button</button>


    <h4 class="web-title">单个组件初始化，并传递初始化状态</h4>
    <button class="yu-button two">button</button>

    <h4 class="web-title">单个类型的所有组件初始化</h4>
    <div class="web-description">注意，已经被初始化过的组件，将拥有:mounted="true"属性状态，将不会再被init初始化。</div>
    <button class="yu-button" :type="success">button</button>
    <button class="yu-button">button</button>

    <h4 class="web-title">多个类型的所有组件初始化</h4>
    <div class="yu-input">
        <input type="text" placeholder="用户名">
    </div>
    <div class="yu-radio-group">
        <label class="yu-radio">
            <span class="radio"><input type="radio" value="apple"></span>
            <span>苹果</span>
        </label>
        <label class="yu-radio">
            <span class="radio"><input type="radio" value="banana"></span>
            <span>香蕉</span>
        </label>
        <label class="yu-radio">
            <span class="radio"><input type="radio" value="peach"></span>
            <span>桃子</span>
        </label>
    </div>

    <h4 class="web-title">属性状态</h4>
    <button class="yu-button" :type="danger" :plain="true">button</button>

    <h4 class="web-title">属性状态变量</h4>
    <div class="web-description">带引号的为字符串，不带引号的，又不是基本类型的，都是变量</div>
    <button class="yu-button" :type="danger" :plain="true" :disabled="$isDisabled">button</button>

    <h4 class="web-title">属性状态规则</h4>
    <div class="web-description">只能简单的使用基本类型，复杂的使用变量</div>
    <div class="web-description">
        <ul>
            <li>1. 以冒号开头属性，则是属性状态, 例 :type="primary"</li>
            <li>2. 字符串, 例 :type="primary"，:type='primary'</li>
            <li>3. 数字, 例 :type="123"</li>
            <li>4. 布尔值, 例 :type，:type="true", :type="false", </li>
            <li>5. JSON数组, 例 :type='["hello","world"]'</li>
            <li>6. JSON对象, 例 :type='{"type":"primary"}'</li>
            <li>7. 变量, 在yu.data = {type: 'primary'}中定义的变量，都可以被使用，例 :type="$type"</li>
        </ul>
    </div>

    <h4 class="web-title">属性状态ref</h4>
    <div class="web-description">不加ref，在用yu.init()初始化时是无名组件，只能通过类型数组访问the.Button[1], 而加了ref的，则是有名组件, 可以直接通过the.tomButton访问。ref也是一个yu属性状态。</div>
    <button class="yu-button" :type="danger" :plain="true" :ref="tomButton">button</button>

    <h4 class="web-title">最佳建议</h4>
    <div class="web-description">建议均采用多个类型的所有组件初始化，在需要操作状态的组件加上:ref属性, 这样则一行就可以初始化所有组件</div>
    <div class="web-description">var the = yu.init('Button','Radio')</div>

</div>
</body>
<script src="../dist/index.bundle.js"></script>
<script>
    yu.data = {
        isDisabled: true,
    }
    var buttonOne = new yu.Button('.one')
    var buttonTwo = new yu.Button('.two', {type: 'primary'})

    var theOne = yu.init('Button')
    theOne.Button[3].setState('type', 'warning')

    var theTwo = yu.init('Input','Radio')

    theOne.tomButton.setState('size', 'large')

</script>
</html>
