<!DOCTYPE html>
<html>
<head>
    <title>yu.js.ui</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">单选框</h4>
    <div class="yu-radio-group" @change="handleChange">
        <label class="yu-radio">
            <span class="radio"><input type="radio" value="apple"></span>
            <span>苹果</span>
        </label>
        <label class="yu-radio">
            <span class="radio"><input type="radio" value="banana"></span>
            <span>香蕉</span>
        </label>
        <label class="yu-radio">
            <span class="radio"><input type="radio" value="peach"></span>
            <span>桃子</span>
        </label>
    </div>

    <h4 class="web-title">激活</h4>
    <label class="yu-radio checked">
        <span class="radio"><input type="radio"></span>
        <span>苹果</span>
    </label>
    <h4 class="web-title">禁用</h4>
    <label class="yu-radio disabled">
        <span class="radio"><input type="radio"></span>
        <span>苹果</span>
    </label>
    <label class="yu-radio checked disabled">
        <span class="radio"><input type="radio"></span>
        <span>香蕉</span>
    </label>

    <h4 class="web-title">单选框组（水平）</h4>
    <div class="yu-radio-group">
        <label class="yu-radio">
            <span class="radio"><input type="radio" value="apple"></span>
            <span>苹果</span>
        </label>
        <label class="yu-radio">
            <span class="radio"><input type="radio" value="banana"></span>
            <span>香蕉</span>
        </label>
        <label class="yu-radio">
            <span class="radio"><input type="radio" value="peach"></span>
            <span>桃子</span>
        </label>
    </div>

    <h4 class="web-title">单选框组（垂直）</h4>
    <div class="yu-radio-group vertical">
        <label class="yu-radio">
            <span class="radio"><input type="radio" value="apple"></span>
            <span>苹果</span>
        </label>
        <label class="yu-radio">
            <span class="radio"><input type="radio" value="banana"></span>
            <span>香蕉</span>
        </label>
        <label class="yu-radio">
            <span class="radio"><input type="radio" value="peach"></span>
            <span>桃子</span>
        </label>
    </div>
</div>
</body>
<script src="../dist/index.bundle.js"></script>
<script>
    YU.Data = {
        handleChange : function (value) {
            console.log('bind event: '+value)
        }
    }
    var the = new YU.Init('Radio')
    // the.Radio[0].onChange = (value) => {
    //     console.log(value)
    // }
</script>
</html>
