<!DOCTYPE html>
<html>
<head>
    <title>yu.js.ui</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body>
<div class="yu-select">
    <div class="yu-input">
        <input type="text" class="suffix" placeholder="请选择">
        <span class="suffix icon"><i class="iconfont icon-angle-down"></i></span>
    </div>
    <ul class="yu-option"></ul>
</div>
</body>
<script src="../dist/index.bundle.js"></script>
</html>
