<!DOCTYPE html>
<html>
<head>
    <title>yu.js.ui</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body>
<div class="yu-select" :ref="select" :option="$option">
    <div class="yu-input">
        <input type="text" class="suffix" placeholder="请选择">
        <span class="suffix icon"><i class="iconfont icon-angle-down"></i></span>
    </div>
    <ul class="yu-option"></ul>
</div>
</body>
<script src="../dist/index.bundle.js"></script>
<script>
    YU.Data = {
        option: [
            {label: '苹果', value: 'apple'},
            {label: '香蕉', value: 'banana'},
            {label: '桃子', value: 'peach'},
        ]
    }
    var the = YU.Init('Select')
</script>
</html>
