<!DOCTYPE html>
<html>
<head>
    <title>yu.js.ui</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">开关</h4>
    <div class="yu-switch">
        <input type="checkbox">
        <span class="switch"><span class="circle"></span></span>
        <label>开关</label>
    </div>

    <div class="yu-switch" :on>
        <input type="checkbox">
        <span class="switch"><span class="circle"></span></span>
        <label>开关</label>
    </div>

    <h4 class="web-title">颜色类型</h4>
    <div class="yu-switch">
        <input type="checkbox">
        <span class="switch on primary"><span class="circle"></span></span>
        <label>开关</label>
    </div>

    <div class="yu-switch">
        <input type="checkbox">
        <span class="switch on danger"><span class="circle"></span></span>
        <label>开关</label>
    </div>

    <div class="yu-switch">
        <input type="checkbox">
        <span class="switch on info"><span class="circle"></span></span>
        <label>开关</label>
    </div>

    <div class="yu-switch">
        <input type="checkbox">
        <span class="switch on warning"><span class="circle"></span></span>
        <label>开关</label>
    </div>

    <h4 class="web-title">禁用</h4>
    <div class="yu-switch disabled">
        <input type="checkbox">
        <label>开关</label>
        <span class="switch disabled"><span class="circle"></span></span>
    </div>

    <div class="yu-switch disabled">
        <input type="checkbox">
        <span class="switch on primary disabled"><span class="circle"></span></span>
        <label>开关</label>
    </div>

    <div class="yu-switch disabled">
        <input type="checkbox">
        <span class="switch on danger disabled"><span class="circle"></span></span>
        <label>开关</label>
    </div>

    <div class="yu-switch disabled">
        <input type="checkbox">
        <span class="switch on info disabled"><span class="circle"></span></span>
        <label>开关</label>
    </div>

    <div class="yu-switch disabled">
        <input type="checkbox">
        <span class="switch on warning disabled"><span class="circle"></span></span>
        <label>开关</label>
    </div>

    <h4 class="web-title">左右文本</h4>
    <div class="yu-switch">
        <input type="checkbox">
        <label>开关</label>
        <span class="switch"><span class="circle"></span></span>
    </div>

    <div class="yu-switch">
        <input type="checkbox">
        <span class="switch on primary"><span class="circle"></span></span>
        <label>开关</label>
    </div>

    <h4 class="web-title">动态效果</h4>
    <div class="yu-switch">
        <input type="checkbox">
        <span class="switch on primary" id="yu-switch"><span class="circle"></span></span>
        <label>开关</label>
    </div>
</body>
<script src="../dist/index.bundle.js"></script>
<script>
    var the = yu.init('Switch')
</script>
</html>
